Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2021-08, with the labels that each got.

#24 Implement crash info and add base mod metadata
  build-logic/src/main/groovy/qsl.module.gradle
  library/core/crash-info/build.gradle
  library/core/crash-info/src/main/java/org/quiltmc/qsl/crash/mixin/SystemDetailsMixin.java
  library/core/crash-info/src/main/resources/fabric.mod.json
  library/core/crash-info/src/main/resources/quilt_crash_info.mixins.json
  library/core/qsl-base/src/main/resources/fabric.mod.json
Labels: new-module, library: core

#17 Resource loader module.
  build-logic/src/main/java/qsl/internal/Versions.java
  library/core/resource-loader/build.gradle
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourcePackActivationType.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/package-info.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/IdentifiableResourceReloader.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/ResourceReloaderKeys.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/SimpleResourceReloader.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/SimpleSynchronousResourceReloader.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackProvider.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackUtil.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/DefaultResourcePackMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/KeyedResourceReloaderMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MinecraftServerMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/NamespaceResourceManagerAccessor.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/NamespaceResourceManagerMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ReloadableResourceManagerImplMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/VanillaDataPackProviderMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/ClientBuiltinResourcePackProviderMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/FontManagerResourceReloadListenerMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/GameOptionsMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/KeyedClientResourceReloaderMixin.java
  library/core/resource-loader/src/main/resources/fabric.mod.json
  library/core/resource-loader/src/main/resources/quilt_resource_loader.accesswidener
  library/core/resource-loader/src/main/resources/quilt_resource_loader.mixins.json
  library/core/resource-loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/BuiltinResourcePackTestMod.java
  library/core/resource-loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/ResourceLoaderTestMod.java
  library/core/resource-loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/ResourceReloaderTestMod.java
  library/core/resource-loader/src/testmod/resources/assets/minecraft/lang/en_us.json
  library/core/resource-loader/src/testmod/resources/data/quilt_resource_loader_testmod/advancements/recipes/misc/rotten_flesh_to_leather.json
  library/core/resource-loader/src/testmod/resources/data/quilt_resource_loader_testmod/recipes/rotten_flesh_to_leather.json
  library/core/resource-loader/src/testmod/resources/fabric.mod.json
  library/core/resource-loader/src/testmod/resources/resourcepacks/test/assets/minecraft/textures/block/stone.png
  library/core/resource-loader/src/testmod/resources/resourcepacks/test/data/minecraft/tags/blocks/climbable.json
  library/core/resource-loader/src/testmod/resources/resourcepacks/test/pack.mcmeta
  library/core/resource-loader/src/testmod/resources/resourcepacks/test/pack.png
Labels: new-module, test, library: core, last-call

#26 Resource Loader, unique annotation doesn't prevent conflicts.
  CONTRIBUTING.md
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/DefaultResourcePackMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/KeyedResourceReloaderMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/NamespaceResourceManagerMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/GameOptionsMixin.java
  library/core/resource-loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/KeyedClientResourceReloaderMixin.java
Labels: discussion, library: core
