Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2021-12, with the labels that each got.

#57 Fix READY lifecycle event being delayed
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/mixin/MinecraftServerMixin.java
Labels: bug, library: core

#56 Add resource reload events.
  library/core/resource_loader/build.gradle
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoaderEvents.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/client/ClientResourceLoaderEvents.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MinecraftServerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/MinecraftClientMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/server/MainMixin.java
  library/core/resource_loader/src/main/resources/fabric.mod.json
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/ResourceLoaderEventsTestMod.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/client/ClientResourceLoaderEventsTestMod.java
  library/core/resource_loader/src/testmod/resources/fabric.mod.json
Labels: documentation, enhancement, test, library: core

#41 Block Extensions API
  library/block/block_extensions/build.gradle
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/QuiltBlockSettings.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/QuiltMaterialBuilder.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/client/BlockRenderLayerMap.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/client/package-info.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/package-info.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/impl/client/BlockRenderLayerMapImpl.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/mixin/AbstractBlockAccessor.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/mixin/AbstractBlockSettingsAccessor.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/mixin/MaterialBuilderAccessor.java
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/mixin/client/RenderLayersMixin.java
  library/block/block_extensions/src/main/resources/fabric.mod.json
  library/block/block_extensions/src/main/resources/quilt_block_extensions.accesswidener
  library/block/block_extensions/src/main/resources/quilt_block_extensions.mixins.json
  library/block/block_extensions/src/testmod/java/org/quiltmc/qsl/block/extensions/test/ClientInitializer.java
  library/block/block_extensions/src/testmod/java/org/quiltmc/qsl/block/extensions/test/Initializer.java
  library/block/block_extensions/src/testmod/resources/assets/quilt_block_extensions_testmod/blockstates/test_block.json
  library/block/block_extensions/src/testmod/resources/assets/quilt_block_extensions_testmod/models/block/test_block.json
  library/block/block_extensions/src/testmod/resources/assets/quilt_block_extensions_testmod/textures/block/test_block.png
  library/block/block_extensions/src/testmod/resources/fabric.mod.json
Labels: enhancement, new-module, new-library, library: block, hacktoberfest-accepted
