Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-11, with the labels that each got.

#211 Better dynamic registries setup event
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/DynamicRegistryManagerSetupContext.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryEvents.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/package-info.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/DynamicRegistryManagerSetupContextImpl.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/C_ratuaukiMixin.java
  library/worldgen/biome/src/testmod/java/org/quiltmc/qsl/worldgen/biome/QuiltBiomeTest.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/QuiltSurfaceRuleInitializer.java
Labels: library: core, final-comment-period, t: refactor, t: new api, s: tested

#187 Status Effects API
  library/entity/status_effect/build.gradle
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/api/QuiltLivingEntityStatusEffectExtensions.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/api/QuiltStatusEffectExtensions.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/api/StatusEffectEvents.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/api/StatusEffectRemovalReason.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/api/StatusEffectUtils.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/impl/QuiltStatusEffectInternals.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/mixin/EffectCommandMixin.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/mixin/LivingEntityMixin.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/mixin/MilkBucketItemMixin.java
  library/entity/status_effect/src/main/java/org/quiltmc/qsl/entity/effect/mixin/StatusEffectMixin.java
  library/entity/status_effect/src/main/resources/assets/quilt_status_effect/icon.png
  library/entity/status_effect/src/main/resources/quilt_status_effect.mixins.json
  library/entity/status_effect/src/testmod/java/org/quiltmc/qsl/entity/effect/test/PasteurizedMilkBucketItem.java
  library/entity/status_effect/src/testmod/java/org/quiltmc/qsl/entity/effect/test/StatusEffectTest.java
  library/entity/status_effect/src/testmod/resources/assets/quilt_status_effect_testmod/lang/en_us.json
  library/entity/status_effect/src/testmod/resources/assets/quilt_status_effect_testmod/models/item/pasteurized_milk_bucket.json
  library/entity/status_effect/src/testmod/resources/quilt.mod.json
Labels: new: module, final-comment-period, library: entity, t: new api, s: tested

#200 Custom ItemGroup Icon Renderers
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/api/client/ItemGroupIconRenderer.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/impl/ItemGroupIconRendererRegistry.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/impl/ItemGroupTextureIconRenderer.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/impl/QuiltCreativePlayerInventoryScreenWidgets.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/mixin/client/CreativeInventoryScreenMixin.java
  library/item/item_group/src/testmod/java/org/quiltmc/qsl/item/group/test/ItemGroupClientTest.java
  library/item/item_group/src/testmod/java/org/quiltmc/qsl/item/group/test/ItemGroupTest.java
  library/item/item_group/src/testmod/resources/quilt.mod.json
Labels: library: item, final-comment-period, t: new api, s: tested

#212 Add API for deriving tag keys using different types
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/QuiltTagKey.java
  library/data/tags/src/testmod/java/org/quiltmc/qsl/tag/test/client/ClientTagsTestMod.java
  library/data/tags/src/testmod/resources/assets/quilt_tags_testmod/tags/blocks/block_tag.json
Labels: final-comment-period, library: data, t: new api, s: tested

#189 Custom Entity Selector Options API
  README.md
  library/management/command/build.gradle
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/EntitySelectorOptionRegistry.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/QuiltEntitySelectorReader.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/Initializer.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/EntitySelectorOptionsAccessor.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/EntitySelectorReaderMixin.java
  library/management/command/src/main/resources/quilt_command.mixins.json
  library/management/command/src/testmod/java/org/quiltmc/qsl/command/test/EntitySelectorOptionsTest.java
  library/management/command/src/testmod/resources/quilt.mod.json
Labels: final-comment-period, library: management, t: new api, s: tested

#172 Enchanting Boosters Content Registry
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/BlockContentRegistries.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/impl/BlockContentRegistriesInitializer.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/EnchantingTableBlockMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/EnchantmentScreenHandlerMixin.java
  library/block/block_content_registry/src/main/resources/quilt_block_content_registry.mixins.json
  library/block/block_content_registry/src/testmod/java/org/quiltmc/qsl/block/test/BlockContentRegistryTest.java
Labels: library: block, final-comment-period, t: new api, s: tested
