Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-03, with the labels that each got.

#76 Port and rewrite Tag API to 22w06a.
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/util/InjectedInterface.java
  library/data/tags/DISABLE
  library/data/tags/build.gradle
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/QuiltTag.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/QuiltTagBuilder.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/QuiltTagKey.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/TagRegistry.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/TagType.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/api/package-info.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/QuiltTagHooks.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/QuiltTagKeyHooks.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/TagDelegate.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/TagRegistryImpl.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientDefaultTagManagerReloader.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientOnlyTagManagerReloader.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientQuiltTagsMod.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientTagDelegate.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientTagRegistryManager.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/QuiltRegistryEntryReferenceHooks.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/MinecraftServerMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/RegistryOpsMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/RequiredTagListMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/RequiredTagListRegistryMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/SimpleRegistryMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagBuilderMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagImplMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagKeyAccessor.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagKeyMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagManagerLoaderMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagManagerMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/TagMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/client/ClientPlayNetworkHandlerMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/client/RegistryEntryReferenceMixin.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/client/TagGroupLoaderAccessor.java
  library/data/tags/src/main/resources/fabric.mod.json
  library/data/tags/src/main/resources/quilt_tags.accesswidener
  library/data/tags/src/main/resources/quilt_tags.mixins.json
  library/data/tags/src/testmod/java/org/quiltmc/qsl/tag/test/TagsTestMod.java
  library/data/tags/src/testmod/java/org/quiltmc/qsl/tag/test/client/ClientTagsTestMod.java
  library/data/tags/src/testmod/java/org/quiltmc/qsl/tag/test/server/ServerTagsTestMod.java
  library/data/tags/src/testmod/resources/assets/quilt_tags_testmod/tags/worldgen/biome/client_biome_tag.json
  library/data/tags/src/testmod/resources/data/quilt_tags_testmod/tags/blocks/block_tag.json
  library/data/tags/src/testmod/resources/data/quilt_tags_testmod/tags/worldgen/biome/json_only_test.json
  library/data/tags/src/testmod/resources/data/quilt_tags_testmod/tags/worldgen/biome/registry_test.json
  library/data/tags/src/testmod/resources/fabric.mod.json
  library/data/tags/src/testmod/resources/resourcepacks/required_test_pack/pack.mcmeta
  library/data/tags/src/testmod/resources/resourcepacks/required_test_pack/pack.png
Labels: documentation, test, final-comment-period, library: data, t: new api

#38 Registry Module/Events
  library/core/registry/build.gradle
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryEntryContext.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryEvents.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryMonitor.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/event/MutableRegistryEntryContextImpl.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/event/RegistryEventStorage.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/event/RegistryMonitorImpl.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/RegistryMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/SimpleRegistryAccessor.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/SimpleRegistryMixin.java
  library/core/registry/src/main/resources/assets/quilt_registry/icon.png
  library/core/registry/src/main/resources/fabric.mod.json
  library/core/registry/src/main/resources/quilt_registry.mixins.json
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/RegistryLibEventsTest.java
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/RegistryLibMonitorTest.java
  library/core/registry/src/testmod/resources/fabric.mod.json
Labels: documentation, enhancement, new-module, test, library: core, final-comment-period, hacktoberfest-accepted, t: new api

#84 Fix MC-197259: Modded blocks not present in debug world types.
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/DebugChunkGeneratorAccessor.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/RegistryMixin.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
Labels: enhancement, library: core, final-comment-period, t: refactor

#92 Typo and anchor fixes in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#93 Make resource pack streaming flattened.
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MultiPackResourceManagerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/NamespaceResourceManagerMixin.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
Labels: library: core, final-comment-period, t: urgent, t: new api
