Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-01, with the labels that each got.

#65 Block Extensions API: add map color provider setter
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/QuiltBlockSettings.java
Labels: enhancement, library: block

#62 Feature: event as entrypoints / Event.listenAll
  build-logic/src/main/java/qsl/internal/license/LicenseHeader.java
  library/core/crash_info/src/main/java/org/quiltmc/qsl/crash/api/CrashReportEvents.java
  library/core/crash_info/src/main/java/org/quiltmc/qsl/crash/impl/CrashInfoImpl.java
  library/core/crash_info/src/main/resources/fabric.mod.json
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/client/event/ClientLifecycleEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/client/event/ClientTickEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/client/event/ClientWorldTickEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/event/ServerLifecycleEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/event/ServerTickEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/event/ServerWorldLoadEvents.java
  library/core/lifecycle_events/src/main/java/org/quiltmc/qsl/lifecycle/api/event/ServerWorldTickEvents.java
  library/core/lifecycle_events/src/testmod/java/org/quiltmc/qsl/lifecycle/test/event/ServerLifecycleTests.java
  library/core/lifecycle_events/src/testmod/java/org/quiltmc/qsl/lifecycle/test/event/client/ClientLifecycleTests.java
  library/core/lifecycle_events/src/testmod/resources/fabric.mod.json
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/Event.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/EventAwareListener.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/ListenerPhase.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/ParameterInvokingEvent.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/client/ClientEventAwareListener.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/package-info.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/server/DedicatedServerEventAwareListener.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/util/QuiltAssertions.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/QuiltBaseImpl.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/event/EventPhaseData.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/event/EventRegistry.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/event/PhaseSorting.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/mixin/MinecraftServerMixin.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/QuiltBaseTestMod.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/EventListenAllTests.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/EventTests.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/GenericTestCallback.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/TestCallback.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/graph.png
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoaderEvents.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/client/ClientResourceLoaderEvents.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/ResourceLoaderEventsTestMod.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/client/ClientResourceLoaderEventsTestMod.java
  library/core/resource_loader/src/testmod/resources/fabric.mod.json
Labels: documentation, enhancement, test, library: core, final-comment-period

#33 Command module
  library/command/build.gradle
  library/command/client_command/build.gradle
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/api/client/ClientCommandManager.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/api/client/ClientCommandRegistrationCallback.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/api/client/QuiltClientCommandSource.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/impl/client/ClientCommandInternals.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/mixin/HelpCommandAccessor.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientCommandSourceMixin.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientPlayNetworkHandlerMixin.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientPlayerEntityMixin.java
  library/command/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/MinecraftClientMixin.java
  library/command/client_command/src/main/resources/fabric.mod.json
  library/command/client_command/src/main/resources/quilt_client_command.mixins.json
  library/command/client_command/src/testmod/java/org/quiltmc/qsl/command/client/test/ClientCommandApiTest.java
  library/command/client_command/src/testmod/resources/fabric.mod.json
  library/command/command/build.gradle
  library/command/command/src/main/java/org/quiltmc/qsl/command/api/CommandRegistrationCallback.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/mixin/CommandManagerMixin.java
  library/command/command/src/main/resources/fabric.mod.json
  library/command/command/src/main/resources/quilt_command.mixins.json
  library/command/command/src/testmod/java/org/quiltmc/qsl/command/test/CommandApiTest.java
  library/command/command/src/testmod/resources/fabric.mod.json
  settings.gradle
Labels: new-module, new-library, final-comment-period, hacktoberfest-accepted

#40 Item Group API
  library/item/item_group/build.gradle
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/api/QuiltItemGroup.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/api/package-info.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/impl/CreativeGuiExtensions.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/impl/ItemGroupExtensions.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/impl/QuiltCreativePlayerInventoryScreenWidgets.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/impl/package-info.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/mixin/ItemGroupMixin.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/mixin/client/CreativeInventoryScreenMixin.java
  library/item/item_group/src/main/java/org/quiltmc/qsl/itemgroup/mixin/client/ItemGroupMixin.java
  library/item/item_group/src/main/resources/assets/quilt_item_group/icon.png
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/bg_bg.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/de_de.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/el_gr.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/en_us.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/es_mx.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/et_ee.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/fa_ir.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/fi_fi.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/pl_pl.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/sv_se.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/tr_tr.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/zh_cn.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/lang/zh_tw.json
  library/item/item_group/src/main/resources/assets/quilt_item_group/textures/gui/creative_buttons.png
  library/item/item_group/src/main/resources/fabric.mod.json
  library/item/item_group/src/main/resources/quilt_item_group.mixin.json
  library/item/item_group/src/testmod/java/org/quiltmc/qsl/itemgroup/test/ItemGroupTest.java
  library/item/item_group/src/testmod/resources/fabric.mod.json
Labels: new-module, new-library, library: item, final-comment-period, hacktoberfest-accepted

#70 Fix the warnings in resource loader
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/MinecraftClientMixin.java
Labels: library: core, t: fix
