Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-09, with the labels that each got.

#190 Rename registry_entry_attachments to registry_entry_attachment
  library/block/block_content_registry/build.gradle
  library/data/registry_entry_attachment/build.gradle
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/DefaultValueProvider.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/DispatchedType.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryExtensions.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/package-info.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/BuiltinRegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ClientSideGuard.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/CodecUtils.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ComputedDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ConstantDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/DataRegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/DumpBuiltinAttachmentsCommand.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/Initializer.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/QuiltRegistryInternals.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentSync.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/client/ClientInitializer.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/AttachmentDictionary.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/mixin/RegistryMixin.java
  library/data/registry_entry_attachment/src/main/resources/assets/quilt_registry_entry_attachment/icon.png
  library/data/registry_entry_attachment/src/main/resources/quilt_registry_entry_attachment.mixins.json
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/DispatchedAttachmentTest.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/FuncValue.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/GiveStackFuncValue.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SendMessageFuncValue.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SimpleAttachmentTest.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/client/ClientAttachmentTest.java
  library/data/registry_entry_attachment/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/mixin/client/DebugHudMixin.java
  library/data/registry_entry_attachment/src/testmod/resources/assets/quilt/attachments/minecraft/block/based.json
  library/data/registry_entry_attachment/src/testmod/resources/data/quilt/attachments/minecraft/item/modular_function.json
  library/data/registry_entry_attachment/src/testmod/resources/data/quilt/attachments/minecraft/item/test_attachment.json
  library/data/registry_entry_attachment/src/testmod/resources/data/quilt/attachments/minecraft/item/test_attachment_2.json
  library/data/registry_entry_attachment/src/testmod/resources/data/quilt/tags/items/modular_tag_1.json
  library/data/registry_entry_attachment/src/testmod/resources/data/quilt/tags/items/modular_tag_2.json
  library/data/registry_entry_attachment/src/testmod/resources/quilt.mod.json
  library/data/registry_entry_attachment/src/testmod/resources/quilt_registry_entry_attachment_testmod.mixins.json
  library/item/item_content_registry/build.gradle
Labels: final-comment-period, library: data, t: refactor, s: tested

#184 Surface Rule API improvements
  library/worldgen/surface_rule/build.gradle
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleContext.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/QuiltSurfaceRuleInitializer.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/ReloadableSequenceMaterialRule.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/SurfaceRuleContextImpl.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/VanillaSurfaceRuleTracker.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/BootstrapMixin.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/VanillaSurfaceRulesMixin.java
  library/worldgen/surface_rule/src/main/resources/quilt_surface_rule.accesswidener
  library/worldgen/surface_rule/src/main/resources/quilt_surface_rule.mixins.json
  library/worldgen/surface_rule/src/testmod/java/org/quiltmc/qsl/worldgen/surface_rule/test/QuiltSurfaceRuleTest.java
Labels: final-comment-period, t: new api, library: worldgen, s: tested

#191 Virtual Resource Pack API
  library/core/resource_loader/README.md
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/InMemoryResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/MutableResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/QuiltResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourcePackRegistrationContext.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/client/package-info.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/package-info.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/SimpleResourceReloader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/package-info.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/QuiltMultiPackResourceManagerHooks.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourcePackRegistrationContextImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MultiPackResourceManagerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ReloadableResourceManagerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ServerReloadableResourcesMixin.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/VirtualResourcePackTestMod.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/client/ResourcePackProfileProviderTestMod.java
  library/core/resource_loader/src/testmod/resources/quilt.mod.json
  library/core/resource_loader/src/testmod/resources/quilt_resource_loader_testmod.mixins.json
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientDefaultTagManagerReloader.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/client/ClientBuiltinResourcePackProviderAccessor.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/mixin/client/DefaultClientResourcePackAccessor.java
  library/data/tags/src/main/resources/quilt_tags.mixins.json
Labels: library: core, final-comment-period, library: data, t: new api, s: tested
