Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-12, with the labels that each got.

#219 Pass decrement `amount` value through to recipe remainder handler
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderLogicHandler.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/RecipeRemainderLogicHandlerImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/AbstractFurnaceBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/BrewingStandBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/LoomOutputSlotMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/SmithingScreenHandlerMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/StonecutterOutputSlotMixin.java
Labels: bug, library: item, final-comment-period, t: refactor, s: tested

#222 Change Multipart Entity API's "rotate" methods to work as intended
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/AbstractEntityPart.java
  library/entity/multipart/src/testmod/java/org/quiltmc/qsl/entity/multipart/test/mixin/CreeperEntityMixin.java
Labels: library: entity, t: refactor, s: waiting for test

#228 Fix ItemColors not being rebuilt on registry sync.
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/ClientRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/ItemRendererAccessor.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
Labels: bug, library: core, t: urgent, s: tested

#227 Fix typo in RegistrySync that sends and receives RESTORE for APPLY.
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerPackets.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerRegistrySyncNetworkHandler.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/ClientRegistrySync.java
Labels: bug, library: core, t: refactor, t: urgent, s: tested

#201 Entity Tick Events
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/EntityReviveEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/ServerEntityTickCallback.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/client/ClientEntityTickCallback.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/ServerWorldMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/client/ClientWorldMixin.java
  library/entity/entity_events/src/main/resources/quilt_entity_events.mixins.json
  library/entity/entity_events/src/testmod/java/org/quiltmc/qsl/entity_events/test/EntityEventsTestMod.java
  library/entity/entity_events/src/testmod/java/org/quiltmc/qsl/entity_events/test/client/EntityEventsTestModClient.java
Labels: final-comment-period, library: entity, t: new api, s: tested

#229 Properly load default language entries from mods and Minecraft.
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/server/LanguageMixin.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
Labels: bug, library: core, final-comment-period, t: new api, s: tested
