Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-06, with the labels that each got.

#106 Add better tag support to Registry Attachment
  library/data/registry_entry_attachments/build.gradle
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/DefaultValueProvider.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/DispatchedType.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryExtensions.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/AssetsHolderGuard.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/BuiltinAttachmentBuilderImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ComputedDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ConstantDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/DumpBuiltinAttachmentsCommand.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/Initializer.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/QuiltRegistryInternals.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentSync.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/client/ClientInitializer.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/AttachmentDictionary.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/ValueTarget.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/mixin/RegistryMixin.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/DispatchedAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/FuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/GiveStackFuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SendMessageFuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SimpleAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/client/ClientAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/mixin/client/DebugHudMixin.java
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/attachments/minecraft/item/modular_function.json
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/tags/items/modular_tag_1.json
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/tags/items/modular_tag_2.json
Labels: enhancement, library: data, t: new api, s: tested

#120 Port Dimensions fast path + bug fix from upstream
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/impl/QuiltDimensionsImpl.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/mixin/LevelStorageBugfixMixin.java
  library/worldgen/dimension/src/main/resources/quilt_dimension.mixins.json
Labels: t: urgent, library: worldgen, s: tested

#94 Initial Port of Fabric Biome API
  library/worldgen/biome/build.gradle
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModification.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModificationContext.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModifications.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeSelectionContext.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeSelectors.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/ModificationPhase.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/NetherBiomes.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/TheEndBiomes.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/NetherBiomeData.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/TheEndBiomeData.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/WeightedPicker.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationContextImpl.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationImpl.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationMarker.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeSelectionContextImpl.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BuiltInRegistryKeys.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/MixinMultiNoiseBiomeSource.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/MixinTheEndBiomeSource.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/modification/DynamicRegistryManagerImplMixin.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/modification/MinecraftServerMixin.java
  library/worldgen/biome/src/main/resources/assets/quilt_biome/icon.png
  library/worldgen/biome/src/main/resources/quilt_biome.accesswidener
  library/worldgen/biome/src/main/resources/quilt_biome.mixins.json
  library/worldgen/biome/src/testmod/java/org/quiltmc/qsl/worldgen/biome/QuiltBiomeTest.java
  library/worldgen/biome/src/testmod/resources/quilt.mod.json
Labels: new-module, test, final-comment-period, t: new api, library: worldgen, s: tested

#123 Quilt Biome API Mixin Fix + Minor QuiltBiomeTest tweaks
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/MultiNoiseBiomeSourceMixin.java
  library/worldgen/biome/src/testmod/java/org/quiltmc/qsl/worldgen/biome/QuiltBiomeTest.java
Labels: bug, t: urgent, library: worldgen, s: tested

#122 1.19-rc2
  build-logic/src/main/java/qsl/internal/Versions.java
  gradle/wrapper/gradle-wrapper.properties
  library/core/networking/src/testmod/java/org/quiltmc/qsl/networking/test/channeltest/ChannelScreen.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/event/DelayedRegistry.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/NamespaceResourceManagerAccessor.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/Class7196Mixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/data/recipe/DISABLE
  library/data/registry_entry_attachments/DISABLE
  library/data/tags/DISABLE
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MinecraftClientMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MouseMixin.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/TheEndBiomeData.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationImpl.java
  library/worldgen/biome/src/main/resources/quilt_biome.accesswidener
  library/worldgen/biome/src/testmod/java/org/quiltmc/qsl/worldgen/biome/QuiltBiomeTest.java
  library/worldgen/dimension/src/testmod/java/org/quiltmc/qsl/worldgen/dimension/EmptyChunkGenerator.java
  library/worldgen/dimension/src/testmod/resources/data/quilt_dimension/dimension_type/void_type.json
Labels: t: urgent, s: tested

#125 Fix loading world generation objects from mods via JSON.
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/DataPackLoadingContext.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackUtil.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/TestServerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/server/MainMixin.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/mixin/DimensionOptionsAccessor.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/mixin/LevelStorageBugfixMixin.java
  library/worldgen/dimension/src/main/resources/quilt_dimension.mixins.json
  library/worldgen/dimension/src/testmod/java/org/quiltmc/qsl/worldgen/dimension/EmptyChunkGenerator.java
Labels: bug, library: core, ready-to-merge, t: urgent, library: worldgen, s: tested

#124 Override the experimental warning screen with opt-out.
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/util/TriState.java
  library/core/resource_loader/README.md
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/MinecraftClientMixin.java
Labels: enhancement, library: core, final-comment-period, t: refactor, s: tested

#133 Fixes #131: a possible tooltip events class-loading race.
  library/gui/tooltip/build.gradle
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/impl/client/QuiltClientTooltipMod.java
Labels: bug, library: gui, t: urgent, s: tested

#134 Add stuff to check whether dynamic registry entries exist.
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeSelectionContext.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeSelectionContextImpl.java
  library/worldgen/biome/src/testmod/java/org/quiltmc/qsl/worldgen/biome/QuiltBiomeTest.java
  library/worldgen/biome/src/testmod/resources/resourcepacks/registry_entry_existence_test/data/quilt_biome_testmod/worldgen/placed_feature/moss_pile.json
Labels: enhancement, test, final-comment-period, t: new api, library: worldgen, s: tested

#126 REA: Make `dump_builtin_attachments` dump tags too
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/DumpBuiltinAttachmentsCommand.java
Labels: enhancement, final-comment-period, library: data, t: refactor, s: tested

#138 Add mod resource packs caching for faster reloads.
  codeformat/checkstyle.xml
  library/core/resource_loader/README.md
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoaderEvents.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourcePackActivationType.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/client/ClientResourceLoaderEvents.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModFileOps.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModIoOps.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioOps.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/cache/CacheTree.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/cache/EntryType.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/cache/ResourceAccess.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/cache/ResourceTreeCache.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/client/ClientResourceLoaderEventsTestMod.java
Labels: library: core, final-comment-period, t: refactor, s: tested

#144 [REA] Fix reloader never running
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
Labels: bug, library: data, t: urgent, s: tested

#135 Add Block Entity API module.
  library/block/block_entity/build.gradle
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/api/QuiltBlockEntity.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/api/QuiltBlockEntityType.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/api/QuiltBlockEntityTypeBuilder.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/impl/QuiltBlockEntityImpl.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/impl/client/QuiltBlockEntityImplClient.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/mixin/BlockEntityMixin.java
  library/block/block_entity/src/main/java/org/quiltmc/qsl/block/entity/mixin/BlockEntityTypeMixin.java
  library/block/block_entity/src/main/resources/quilt_block_entity.accesswidener
  library/block/block_entity/src/main/resources/quilt_block_entity.mixins.json
  library/block/block_entity/src/testmod/java/org/quiltmc/qsl/block/entity/test/AngyBlock.java
  library/block/block_entity/src/testmod/java/org/quiltmc/qsl/block/entity/test/BlockEntityTypeTest.java
  library/block/block_entity/src/testmod/java/org/quiltmc/qsl/block/entity/test/ColorfulBlockEntity.java
  library/block/block_entity/src/testmod/java/org/quiltmc/qsl/block/entity/test/client/BlockEntityTypeTestClient.java
  library/block/block_entity/src/testmod/java/org/quiltmc/qsl/block/entity/test/client/mixin/BlockColorsMixin.java
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/builder_added_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/builder_multi_1_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/builder_multi_2_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/initial_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/post_added_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/post_multi_1_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/blockstates/post_multi_2_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/block/angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/builder_added_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/builder_multi_1_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/builder_multi_2_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/initial_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/post_added_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/post_multi_1_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/models/item/post_multi_2_angy_block.json
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/textures/block/angy_block.png
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/textures/block/angy_block_overlay.png
  library/block/block_entity/src/testmod/resources/assets/quilt_block_entity_testmod/textures/item/angy_block.png
  library/block/block_entity/src/testmod/resources/quilt.mod.json
  library/block/block_entity/src/testmod/resources/quilt_block_entity_testmod.mixins.json
Labels: enhancement, new-module, test, library: block, final-comment-period, t: new api, s: tested

#139 Make BiomeModifications datapack-compatible.
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModifications.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeSelectors.java
Labels: final-comment-period, t: refactor, library: worldgen, s: tested
