Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-02, with the labels that each got.

#69 Quilt Tooltip API
  library/gui/build.gradle
  library/gui/tooltip/build.gradle
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/api/ConvertibleTooltipData.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/api/client/ItemTooltipCallback.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/api/client/TooltipComponentCallback.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/api/package-info.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/impl/client/QuiltClientTooltipMod.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/mixin/client/ItemStackMixin.java
  library/gui/tooltip/src/main/java/org/quiltmc/qsl/tooltip/mixin/client/TooltipComponentMixin.java
  library/gui/tooltip/src/main/resources/assets/quilt_tooltip/icon.png
  library/gui/tooltip/src/main/resources/fabric.mod.json
  library/gui/tooltip/src/main/resources/quilt_tooltip.mixins.json
  library/gui/tooltip/src/testmod/java/org/quiltmc/qsl/tooltip/test/TooltipTestMod.java
  library/gui/tooltip/src/testmod/java/org/quiltmc/qsl/tooltip/test/client/ClientTooltipTestMod.java
  library/gui/tooltip/src/testmod/resources/fabric.mod.json
  settings.gradle
Labels: enhancement, new-module, new-library, test, final-comment-period, library: gui

#72 Make Gradle look way better
  CONTRIBUTING.md
  build-logic/src/main/java/qsl/internal/dependency/QslLibraryDependency.java
  build-logic/src/main/java/qsl/internal/extension/QslModuleExtension.java
  build.gradle
  library/block/block_extensions/build.gradle
  library/command/client_command/build.gradle
  library/command/command/build.gradle
  library/core/crash_info/build.gradle
  library/core/lifecycle_events/build.gradle
  library/core/networking/build.gradle
  library/core/resource_loader/build.gradle
  library/data/tags/build.gradle
  library/gui/tooltip/build.gradle
  library/item/item_group/build.gradle
Labels: enhancement, final-comment-period

#71 Allow built-in resource packs to have a display name
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackProvider.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/QuiltBuiltinResourcePackProfile.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MinecraftServerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/EntryListWidgetAccessor.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/GameOptionsMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/PackScreenMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/ResourcePackEntryAccessor.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/BuiltinResourcePackTestMod.java
  library/core/resource_loader/src/testmod/resources/resourcepacks/test/pack.mcmeta
Labels: documentation, enhancement, library: core, final-comment-period

#39 PR Policy
  CONTRIBUTING.md
Labels: final-comment-period

#18 Item Setting API module
  library/item/item_setting/build.gradle
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/CustomDamageHandler.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/CustomItemSetting.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/EquipmentSlotProvider.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltCustomItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/package-info.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/CustomItemSettingImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/ItemMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/ItemStackMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/LivingEntityMixin.java
  library/item/item_setting/src/main/resources/assets/quilt_item_setting/icon.png
  library/item/item_setting/src/main/resources/fabric.mod.json
  library/item/item_setting/src/main/resources/quilt_item_api.mixin.json
  library/item/item_setting/src/testmod/java/org/quiltmc/qsl/item/test/CustomDamageTest.java
  library/item/item_setting/src/testmod/java/org/quiltmc/qsl/item/test/QuiltItemSettingsTests.java
  library/item/item_setting/src/testmod/resources/fabric.mod.json
Labels: enhancement, new-module, test, library: item, final-comment-period, t: new api
