Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-05, with the labels that each got.

#109 Fix issues with the recipe API.
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/BaseRecipeHandler.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/RecipeLoadingEvents.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/ShapedRecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/VanillaRecipeBuilders.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/package-info.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/BasicRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/ModifyRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RecipeManagerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RegisterRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RemoveRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/VanillaRecipeBuildersImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/RecipeManagerMixin.java
  library/data/recipe/src/testmod/java/org/quiltmc/qsl/recipe/test/RecipeTestMod.java
Labels: bug, final-comment-period, library: data, t: refactor

#110 Rename command library to management library.
  library/core/networking/build.gradle
  library/data/registry_entry_attachments/build.gradle
  library/data/tags/build.gradle
  library/management/build.gradle
  library/management/client_command/build.gradle
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/api/client/ClientCommandManager.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/api/client/ClientCommandRegistrationCallback.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/api/client/QuiltClientCommandSource.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/impl/client/ClientCommandInternals.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/HelpCommandAccessor.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientCommandSourceMixin.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientPlayNetworkHandlerMixin.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientPlayerEntityMixin.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/MinecraftClientMixin.java
  library/management/client_command/src/main/resources/assets/quilt_client_command/icon.png
  library/management/client_command/src/main/resources/quilt_client_command.mixins.json
  library/management/client_command/src/testmod/java/org/quiltmc/qsl/command/client/test/ClientCommandApiTest.java
  library/management/client_command/src/testmod/resources/quilt.mod.json
  library/management/command/build.gradle
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/ArgumentTypeFallbackProvider.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/CommandRegistrationCallback.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/EnumArgumentType.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/ServerArgumentType.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/Initializer.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/KnownArgTypesStorage.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/KnownArgTypesSync.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/ServerArgumentTypeImpl.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/ServerArgumentTypes.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/impl/client/ClientInitializer.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/CommandManagerMixin.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/RequiredArgumentBuilderAccessor.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/ServerLoginNetworkHandlerMixin.java
  library/management/command/src/main/java/org/quiltmc/qsl/command/mixin/ServerPlayerEntityMixin.java
  library/management/command/src/main/resources/assets/quilt_command/icon.png
  library/management/command/src/main/resources/assets/quilt_command/lang/en_us.json
  library/management/command/src/main/resources/quilt_command.mixins.json
  library/management/command/src/testmod/java/org/quiltmc/qsl/command/test/CommandApiTest.java
  library/management/command/src/testmod/java/org/quiltmc/qsl/command/test/TestEnum.java
  library/management/command/src/testmod/resources/quilt.mod.json
  library/worldgen/dimension/build.gradle
  settings.gradle
Labels: final-comment-period, library: command, t: refactor

#107 Fixes Transitive Dependencies at compile and runtime
  build-logic/src/main/groovy/qsl.module.gradle
  build-logic/src/main/java/qsl/internal/dependency/QslLibraryDependency.java
  build-logic/src/main/java/qsl/internal/extension/QslModuleExtensionImpl.java
Labels: bug, t: urgent

#81 Screen API
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/util/TriState.java
  library/gui/screen/build.gradle
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/QuiltScreenExtensions.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/ScreenEvents.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/ScreenKeyboardEvents.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/ScreenMouseEvents.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/impl/client/ButtonList.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/GameRendererMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/KeyboardMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MinecraftClientMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MouseMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/ScreenMixin.java
  library/gui/screen/src/main/resources/assets/quilt_screen/icon.png
  library/gui/screen/src/main/resources/quilt_screen.mixins.json
  library/gui/screen/src/testmod/java/org/quiltmc/qsl/screen/test/client/ScreenTests.java
  library/gui/screen/src/testmod/resources/fabric.mod.json
Labels: documentation, new-module, test, final-comment-period, library: gui, t: new api

#87 Add a way to register new resource pack providers.
  .github/workflows/publish.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/test.yml
  library/core/resource_loader/build.gradle
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/QuiltResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackProvider.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/QuiltBuiltinResourcePackProfile.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MinecraftServerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ResourcePackMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/CreateWorldScreenMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/GameOptionsMixin.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/client/ResourcePackProfileProviderTestMod.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/mixin/client/NativeImageAccessor.java
  library/core/resource_loader/src/testmod/resources/quilt.mod.json
  library/core/resource_loader/src/testmod/resources/quilt_resource_loader_testmod.mixins.json
Labels: enhancement, test, library: core, final-comment-period, t: new api

#113 Fix crash involving Resource Loader's Overwrites
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/DefaultResourcePackMixin.java
Labels: bug, library: core, t: urgent, s: tested

#114 Create a fat, remapped testmod jar
  .github/workflows/test.yml
  build-logic/src/main/groovy/qsl.common.gradle
  build-logic/src/main/groovy/qsl.library.gradle
  build-logic/src/main/groovy/qsl.module.gradle
  build-logic/src/main/java/qsl/internal/json/QmjBuilder.java
  build.gradle
  library/block/block_extensions/src/testmod/resources/quilt.mod.json
  library/block/src/testmod/resources/quilt.mod.json
  library/core/crash_info/src/testmod/resources/quilt.mod.json
  library/core/lifecycle_events/src/testmod/resources/quilt.mod.json
  library/core/networking/src/testmod/resources/quilt.mod.json
  library/core/qsl_base/src/testmod/resources/quilt.mod.json
  library/core/registry/src/testmod/resources/quilt.mod.json
  library/core/resource_loader/src/testmod/resources/quilt.mod.json
  library/core/src/testmod/resources/quilt.mod.json
  library/data/recipe/src/testmod/resources/quilt.mod.json
  library/data/registry_entry_attachments/src/testmod/resources/quilt.mod.json
  library/data/src/testmod/resources/quilt.mod.json
  library/data/tags/src/testmod/resources/quilt.mod.json
  library/gui/src/testmod/resources/quilt.mod.json
  library/gui/tooltip/src/testmod/resources/quilt.mod.json
  library/item/item_group/src/testmod/resources/quilt.mod.json
  library/item/item_setting/src/testmod/resources/quilt.mod.json
  library/item/src/testmod/resources/quilt.mod.json
  library/management/client_command/src/testmod/resources/quilt.mod.json
  library/management/command/src/testmod/resources/quilt.mod.json
  library/management/src/testmod/resources/quilt.mod.json
  library/worldgen/dimension/src/testmod/resources/quilt.mod.json
  library/worldgen/src/testmod/resources/quilt.mod.json
  src/testmod/resources/quilt.mod.json
Labels: t: urgent

#116 Revert to class init, change to lambdas
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/mixin/client/RenderLayersMixin.java
Labels: library: block, final-comment-period, t: refactor, s: tested

#117 "Fix" and polish the Quilt Screen API
  library/gui/screen/build.gradle
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/QuiltScreen.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/ScreenEvents.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/api/client/ScreenMouseEvents.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MinecraftClientMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/MouseMixin.java
  library/gui/screen/src/main/java/org/quiltmc/qsl/screen/mixin/client/ScreenMixin.java
  library/gui/screen/src/testmod/java/org/quiltmc/qsl/screen/test/client/ScreenTests.java
Labels: bug, documentation, final-comment-period, library: gui, t: refactor, s: tested

#121 [REA] Fix DefaultValueProvider.Result.error()
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/DefaultValueProvider.java
Labels: library: data, t: urgent
