Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-04, with the labels that each got.

#91 Dimension API
  library/worldgen/build.gradle
  library/worldgen/dimension/build.gradle
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/access/EntityAccess.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/api/QuiltDimensions.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/impl/QuiltDimensionsImpl.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/mixin/server/EntityMixin.java
  library/worldgen/dimension/src/main/java/org/quiltmc/qsl/worldgen/dimension/mixin/server/ServerPlayerEntityMixin.java
  library/worldgen/dimension/src/main/resources/assets/quilt_dimension/icon.png
  library/worldgen/dimension/src/main/resources/fabric.mod.json
  library/worldgen/dimension/src/main/resources/quilt_dimension.mixins.json
  library/worldgen/dimension/src/testmod/java/org/quiltmc/qsl/worldgen/dimension/EmptyChunkGenerator.java
  library/worldgen/dimension/src/testmod/java/org/quiltmc/qsl/worldgen/dimension/QuiltDimensionTest.java
  library/worldgen/dimension/src/testmod/resources/data/quilt_dimension/dimension/void.json
  library/worldgen/dimension/src/testmod/resources/data/quilt_dimension/dimension_type/void_type.json
  library/worldgen/dimension/src/testmod/resources/fabric.mod.json
  settings.gradle
Labels: documentation, new-module, new-library, test, final-comment-period, t: new api, library: worldgen

#68 Command module: add server-side argument types
  build-logic/src/main/groovy/qsl.module.gradle
  codeformat/COLONEL_MODIFIED_HEADER
  library/command/command/build.gradle
  library/command/command/src/main/java/org/quiltmc/qsl/command/api/ArgumentTypeFallbackProvider.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/api/EnumArgumentType.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/api/ServerArgumentType.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/Initializer.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/KnownArgTypesStorage.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/KnownArgTypesSync.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/PreLaunchInitializer.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/ServerArgumentTypeImpl.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/ServerArgumentTypes.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/client/ClientInitializer.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/mixin/CommandManagerMixin.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/mixin/RequiredArgumentBuilderAccessor.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/mixin/ServerLoginNetworkHandlerMixin.java
  library/command/command/src/main/java/org/quiltmc/qsl/command/mixin/ServerPlayerEntityMixin.java
  library/command/command/src/main/resources/assets/quilt_command/lang/en_us.json
  library/command/command/src/main/resources/fabric.mod.json
  library/command/command/src/main/resources/quilt_command.mixins.json
  library/command/command/src/testmod/java/org/quiltmc/qsl/command/test/CommandApiTest.java
  library/command/command/src/testmod/java/org/quiltmc/qsl/command/test/TestEnum.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/PreLaunchHacks.java
Labels: documentation, enhancement, test, final-comment-period, library: command, t: new api

#90 Add a method for quick registration in RegistryEntryContext.
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryEntryContext.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryMonitor.java
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/RegistryLibMonitorRegistrationTest.java
Labels: enhancement, test, library: core, final-comment-period, t: new api

#78 Migrate to Quilt Loader, auto-generate `quilt.mod.json`
  build-logic/build.gradle
  build-logic/src/main/groovy/qsl.common.gradle
  build-logic/src/main/groovy/qsl.module.gradle
  build-logic/src/main/java/qsl/internal/Versions.java
  build-logic/src/main/java/qsl/internal/dependency/QslLibraryDependency.java
  build-logic/src/main/java/qsl/internal/extension/QslModuleExtension.java
  build-logic/src/main/java/qsl/internal/extension/QslModuleExtensionImpl.java
  build-logic/src/main/java/qsl/internal/json/Environment.java
  build-logic/src/main/java/qsl/internal/json/ModJsonArray.java
  build-logic/src/main/java/qsl/internal/json/ModJsonObject.java
  build-logic/src/main/java/qsl/internal/json/QmjBuilder.java
  build-logic/src/main/java/qsl/internal/task/GenerateQmjTask.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  library/block/block_extensions/build.gradle
  library/block/block_extensions/src/main/resources/fabric.mod.json
  library/command/client_command/build.gradle
  library/command/client_command/src/main/resources/fabric.mod.json
  library/command/command/build.gradle
  library/command/command/src/main/java/org/quiltmc/qsl/command/impl/PreLaunchInitializer.java
  library/command/command/src/main/resources/fabric.mod.json
  library/core/crash_info/build.gradle
  library/core/crash_info/src/main/resources/fabric.mod.json
  library/core/lifecycle_events/build.gradle
  library/core/lifecycle_events/src/main/resources/fabric.mod.json
  library/core/networking/build.gradle
  library/core/networking/src/main/resources/fabric.mod.json
  library/core/qsl_base/build.gradle
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/PreLaunchHacks.java
  library/core/qsl_base/src/main/resources/fabric.mod.json
  library/core/registry/build.gradle
  library/core/registry/src/main/resources/fabric.mod.json
  library/core/resource_loader/build.gradle
  library/core/resource_loader/src/main/resources/fabric.mod.json
  library/data/tags/build.gradle
  library/data/tags/src/main/resources/fabric.mod.json
  library/gui/tooltip/build.gradle
  library/gui/tooltip/src/main/resources/fabric.mod.json
  library/item/item_group/build.gradle
  library/item/item_group/src/main/resources/fabric.mod.json
  library/item/item_setting/build.gradle
  library/item/item_setting/src/main/resources/fabric.mod.json
  library/item/item_setting/src/main/resources/quilt_item_setting.mixins.json
  library/worldgen/dimension/build.gradle
  library/worldgen/dimension/src/main/resources/fabric.mod.json
  settings.gradle
Labels: final-comment-period, t: new api

#77 Recipe API
  library/data/recipe/build.gradle
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/RecipeLoadingEvents.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/RecipeManagerHelper.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/RecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/ShapedRecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/ShapelessRecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/VanillaRecipeBuilders.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/package-info.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/serializer/QuiltRecipeSerializer.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/ImmutableMapBuilderUtil.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/ModifyRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RecipeManagerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RegisterRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RemoveRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/VanillaRecipeBuildersImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/CookingRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/CuttingRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/RecipeManagerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/ShapedRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/ShapelessRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/SmithingRecipeAccessor.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/SmithingRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/SpecialRecipeSerializerMixin.java
  library/data/recipe/src/main/resources/assets/quilt_recipe/icon.png
  library/data/recipe/src/main/resources/quilt_recipe.accesswidener
  library/data/recipe/src/main/resources/quilt_recipe.mixins.json
  library/data/recipe/src/testmod/java/org/quiltmc/qsl/recipe/test/RecipeTestMod.java
  library/data/recipe/src/testmod/resources/fabric.mod.json
Labels: documentation, new-module, test, final-comment-period, library: data, t: new api

#29 Registry Entry Attachment API
  library/data/registry_entry_attachments/build.gradle
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/DefaultValueProvider.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/DispatchedType.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryExtensions.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/package-info.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/AssetsHolderGuard.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/BuiltinAttachmentBuilderImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ComputedDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/ConstantDefaultRegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/DumpBuiltinAttachmentsCommand.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/Initializer.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/QuiltRegistryInternals.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentSync.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/client/ClientInitializer.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/AttachmentDictionary.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/ValueTarget.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/mixin/RegistryMixin.java
  library/data/registry_entry_attachments/src/main/resources/assets/quilt_registry_entry_attachments/icon.png
  library/data/registry_entry_attachments/src/main/resources/quilt_registry_entry_attachments.mixins.json
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/DispatchedAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/FuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/GiveStackFuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SendMessageFuncValue.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SimpleAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/client/ClientAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/mixin/client/DebugHudMixin.java
  library/data/registry_entry_attachments/src/testmod/resources/assets/quilt/attachments/minecraft/block/based.json
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/attachments/minecraft/item/modular_function.json
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/attachments/minecraft/item/test_attachment.json
  library/data/registry_entry_attachments/src/testmod/resources/quilt.mod.json
  library/data/registry_entry_attachments/src/testmod/resources/quilt_registry_entry_attachments_testmod.mixins.json
  settings.gradle
Labels: new-module, new-library, final-comment-period, hacktoberfest-accepted, t: new api

#104 Block access widening.
  library/block/block_extensions/README.md
  library/block/block_extensions/build.gradle
  library/block/block_extensions/src/main/resources/quilt_block_extensions.accesswidener
  library/block/block_extensions/template.accesswidener
Labels: enhancement, library: block, final-comment-period, t: new api
