Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-10, with the labels that each got.

#42 Entity Events module
  library/entity/entity_events/build.gradle
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/EntityReviveEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/EntityWorldChangeEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/LivingEntityDeathCallback.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/ServerEntityLoadEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/ServerPlayerEntityCopyCallback.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/client/ClientEntityLoadEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/EntityMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/LivingEntityDeathEventMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/LivingEntityMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/ServerEntityHandlerMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/ServerPlayerEntityMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/TeleportCommandMixin.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/client/ClientEntityHandlerMixin.java
  library/entity/entity_events/src/main/resources/assets/quilt_entity_events/icon.png
  library/entity/entity_events/src/main/resources/quilt_entity_events.mixins.json
  library/entity/entity_events/src/testmod/java/org/quiltmc/qsl/entity_events/test/EntityEventsTestMod.java
  library/entity/entity_events/src/testmod/java/org/quiltmc/qsl/entity_events/test/client/EntityEventsTestModClient.java
  library/entity/entity_events/src/testmod/resources/quilt.mod.json
Labels: new: module, final-comment-period, library: entity, t: new api

#67 Entity Object Builders
  library/entity/entity/build.gradle
  library/entity/entity/src/main/java/org/quiltmc/qsl/entity/api/QuiltEntityTypeBuilder.java
  library/entity/entity/src/main/java/org/quiltmc/qsl/entity/impl/QuiltEntityType.java
  library/entity/entity/src/main/java/org/quiltmc/qsl/entity/mixin/DefaultAttributeRegistryMixin.java
  library/entity/entity/src/main/resources/assets/quilt_entity/icon.png
  library/entity/entity/src/main/resources/quilt_entity.accesswidener
  library/entity/entity/src/main/resources/quilt_entity.mixins.json
  library/entity/entity/src/testmod/java/org/quiltmc/qsl/entity/test/EntityTypeBuilderGenericsTest.java
  library/entity/entity/src/testmod/resources/quilt.mod.json
  library/entity/points_of_interest/build.gradle
  library/entity/points_of_interest/src/main/java/org/quiltmc/qsl/points_of_interest/api/PointOfInterestHelper.java
  library/entity/points_of_interest/src/main/java/org/quiltmc/qsl/points_of_interest/impl/PointOfInterestTypeExtensions.java
  library/entity/points_of_interest/src/main/java/org/quiltmc/qsl/points_of_interest/mixin/PointOfInterestTypeMixin.java
  library/entity/points_of_interest/src/main/resources/assets/quilt_points_of_interest/icon.png
  library/entity/points_of_interest/src/main/resources/quilt_points_of_interest.accesswidener
  library/entity/points_of_interest/src/main/resources/quilt_points_of_interest.mixins.json
  library/entity/points_of_interest/src/testmod/java/org/quiltmc/qsl/points_of_interest/test/PoiTestMod.java
  library/entity/points_of_interest/src/testmod/resources/quilt.mod.json
  library/entity/vehicle/build.gradle
  library/entity/vehicle/src/main/java/org/quiltmc/qsl/vehicle/api/MinecartComparatorLogic.java
  library/entity/vehicle/src/main/java/org/quiltmc/qsl/vehicle/mixin/DetectorRailBlockMixin.java
  library/entity/vehicle/src/main/resources/assets/quilt_vehicle/icon.png
  library/entity/vehicle/src/main/resources/quilt_vehicle.mixins.json
  library/entity/vehicle/src/testmod/java/org/quiltmc/qsl/vehicle/test/mixin/TntMinecartEntityMixin.java
  library/entity/vehicle/src/testmod/resources/quilt.mod.json
  library/entity/vehicle/src/testmod/resources/quilt_vehicle_testmod.mixins.json
  library/entity/villager/build.gradle
  library/entity/villager/src/main/java/org/quiltmc/qsl/villager/api/TradeOfferHelper.java
  library/entity/villager/src/main/java/org/quiltmc/qsl/villager/impl/TradeOfferInternals.java
  library/entity/villager/src/main/java/org/quiltmc/qsl/villager/mixin/TypeAwareBuyForOneEmeraldFactoryMixin.java
  library/entity/villager/src/main/resources/assets/quilt_villager/icon.png
  library/entity/villager/src/main/resources/quilt_villager.accesswidener
  library/entity/villager/src/main/resources/quilt_villager.mixins.json
  library/entity/villager/src/testmod/java/org/quiltmc/qsl/villager/test/SimpleTradeFactory.java
  library/entity/villager/src/testmod/java/org/quiltmc/qsl/villager/test/VillagerTypeTest1.java
  library/entity/villager/src/testmod/java/org/quiltmc/qsl/villager/test/VillagerTypeTest2.java
  library/entity/villager/src/testmod/resources/quilt.mod.json
Labels: new: module, final-comment-period, library: entity, t: new api, s: tested

#158 Recipe Remainder API
  library/item/item_setting/build.gradle
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltCustomItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderLogicHandler.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderProvider.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/package-info.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/CustomItemSettingImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/RecipeRemainderLogicHandlerImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/ItemStackMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/AbstractFurnaceBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/BrewingStandBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/LoomOutputSlotMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/RecipeManagerMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/SmithingScreenHandlerMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/StonecutterOutputSlotMixin.java
  library/item/item_setting/src/main/resources/quilt_item_setting.mixins.json
  library/item/item_setting/src/testmod/java/org/quiltmc/qsl/item/test/RecipeRemainderTests.java
  library/item/item_setting/src/testmod/java/org/quiltmc/qsl/item/test/mixin/BrewingRecipeRegistryMixin.java
  library/item/item_setting/src/testmod/resources/data/quilt_item_content_registry/attachments/minecraft/item/fuel_time.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/cutting_test.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/gravel.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/infinite_ore.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/sand.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/smithing_test.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/weird_ore.json
  library/item/item_setting/src/testmod/resources/quilt.mod.json
  library/item/item_setting/src/testmod/resources/quilt_item_setting_testmod.mixins.json
Labels: library: item, final-comment-period, t: new api, s: tested

#175 Make TrackedDataHandler registration use registry
  library/entity/entity_networking/build.gradle
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/api/tracked_data/QuiltTrackedDataHandlerRegistry.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/impl/QuiltEntityNetworkingInitializer.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/mixin/TrackedDataHandlerRegistryMixin.java
  library/entity/entity_networking/src/main/resources/assets/quilt_entity_networking/icon.png
  library/entity/entity_networking/src/main/resources/quilt_entity_networking.mixins.json
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/TrackedDataTestInitializer.java
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/mixin/CreeperEntityMixin.java
  library/entity/entity_networking/src/testmod/resources/quilt.mod.json
  library/entity/entity_networking/src/testmod/resources/quilt_entity_networking_testmod.mixins.json
Labels: new: module, final-comment-period, library: entity, t: new api, s: tested

#194 Registry Entry Attachment: verify entry is registered
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
Labels: final-comment-period, library: data, t: refactor, s: tested

#202 Use QuiltLoader.createModTable instead of manually generating the mod list
  library/core/crash_info/src/main/java/org/quiltmc/qsl/crash/impl/CrashInfoImpl.java
Labels: library: core, final-comment-period, t: refactor, s: tested

#199 More flexible ItemGroup addition API
  library/item/item_group/src/main/java/org/quiltmc/qsl/item/group/api/QuiltItemGroup.java
  library/item/item_group/src/testmod/java/org/quiltmc/qsl/item/group/test/ItemGroupTest.java
Labels: library: item, final-comment-period, t: new api, s: tested

#208 Update entity library to 1.19.3 and make SimpleRegistry fill references early
  library/core/registry/build.gradle
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/SimpleRegistryMixin.java
  library/core/registry/src/main/resources/quilt_registry.accesswidener
  library/entity/DISABLE
  library/entity/entity/src/main/java/org/quiltmc/qsl/entity/api/QuiltEntityTypeBuilder.java
  library/entity/entity/src/main/java/org/quiltmc/qsl/entity/impl/QuiltEntityType.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/api/client/ClientEntityLoadEvents.java
  library/entity/entity_events/src/main/java/org/quiltmc/qsl/entity_events/mixin/ServerPlayerEntityMixin.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/impl/QuiltEntityNetworkingInitializer.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/AbstractEntityPart.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/EntityPart.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/ServerEntityHandlerMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/WorldMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/client/ClientEntityHandlerMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/client/EntityRenderDispatcherMixin.java
  library/entity/points_of_interest/src/main/java/org/quiltmc/qsl/points_of_interest/impl/PointOfInterestTypeExtensions.java
Labels: library: core, library: entity, t: urgent, s: waiting for test

#209 Port of the surface rules API to 22w43a
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/event/RegistryEvents.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/C_ratuaukiMixin.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
  library/worldgen/surface_rule/DISABLE
  library/worldgen/surface_rule/build.gradle
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleContext.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleEvents.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/QuiltSurfaceRuleInitializer.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/ReloadableSequenceMaterialRule.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/SurfaceRuleContextImpl.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/VanillaSurfaceRuleTracker.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/ChunkGeneratorSettingsAccessor.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/VanillaSurfaceRulesMixin.java
  library/worldgen/surface_rule/src/main/resources/quilt_surface_rule.mixins.json
Labels: library: core, t: refactor, t: new api, library: worldgen, s: tested
