Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-07, with the labels that each got.

#141 Criterion register
  library/data/advancement/build.gradle
  library/data/advancement/src/main/resources/assets/quilt_advancement/icon.png
  library/data/advancement/src/main/resources/quilt_advancement.accesswidener
  library/data/advancement/src/testmod/resources/quilt.mod.json
Labels: new-module, final-comment-period, library: data, t: new api, s: tested

#147 `EnumArgumentType`: remove unnecessary constraint
  library/management/command/src/main/java/org/quiltmc/qsl/command/api/EnumArgumentType.java
Labels: final-comment-period, library: management, t: refactor, s: tested

#127 Item Content Registries
  library/item/item_content_registry/build.gradle
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/api/ItemContentRegistries.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/impl/ItemContentRegistriesClientInitializer.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/impl/ItemContentRegistriesInitializer.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/mixin/AbstractFurnaceBlockEntityMixin.java
  library/item/item_content_registry/src/main/resources/assets/quilt_item_content_registry/icon.png
  library/item/item_content_registry/src/main/resources/quilt_item_content_registry.mixins.json
  library/item/item_content_registry/src/testmod/resources/data/quilt_item_content_registry/attachments/minecraft/item/compost_chance.json
  library/item/item_content_registry/src/testmod/resources/data/quilt_item_content_registry/attachments/minecraft/item/fuel_time.json
  library/item/item_content_registry/src/testmod/resources/data/quilt_item_content_registry/tags/items/test_compost_tag.json
  library/item/item_content_registry/src/testmod/resources/quilt.mod.json
Labels: new-module, library: item, final-comment-period, t: new api, s: tested

#151 RegistryEntryAttachment: add remove methods
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/BuiltinRegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentHolder.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
Labels: library: data, t: urgent, t: new api, s: tested

#153 Fix ModResourcePackUtil mishandling special characters.
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModResourcePackUtil.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/BuiltinResourcePackTestMod.java
Labels: bug, library: core, final-comment-period, t: refactor, s: tested

#148 Quilt Surface Rule API
  library/worldgen/surface_rule/build.gradle
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleContext.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleEvents.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/QuiltSequenceMaterialRuleHooks.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/SurfaceRuleContextImpl.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/VanillaSurfaceRuleTracker.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/BootstrapMixin.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/SequenceMaterialRuleMixin.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/mixin/VanillaSurfaceRulesMixin.java
  library/worldgen/surface_rule/src/main/resources/assets.quilt_surface_rule/icon.png
  library/worldgen/surface_rule/src/main/resources/quilt_surface_rule.accesswidener
  library/worldgen/surface_rule/src/main/resources/quilt_surface_rule.mixins.json
  library/worldgen/surface_rule/src/testmod/java/org/quiltmc/qsl/worldgen/surface_rule/test/QuiltSurfaceRuleTest.java
  library/worldgen/surface_rule/src/testmod/resources/quilt.mod.json
Labels: enhancement, new-library, final-comment-period, t: new api, library: worldgen, s: tested
