Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2022-08, with the labels that each got.

#149 Multipart Entity Module
  library/entity/build.gradle
  library/entity/multipart/build.gradle
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/AbstractEntityPart.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/EntityPart.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/MultipartEntity.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/api/package-info.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/impl/EntityPartTracker.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/EnderDragonEntityMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/EnderDragonPartMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/PlayerEntityMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/ServerEntityHandlerMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/ServerWorldMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/ThreadedAnvilChunkStorageMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/WorldMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/client/ClientEntityHandlerMixin.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/client/EntityRenderDispatcherMixin.java
  library/entity/multipart/src/main/resources/assets/quilt_entity_multipart/icon.png
  library/entity/multipart/src/main/resources/quilt_entity_multipart.mixins.json
  library/entity/multipart/src/testmod/java/org/quiltmc/qsl/entity/multipart/test/SecretCreeperPart.java
  library/entity/multipart/src/testmod/java/org/quiltmc/qsl/entity/multipart/test/mixin/CreeperEntityMixin.java
  library/entity/multipart/src/testmod/resources/quilt.mod.json
  library/entity/multipart/src/testmod/resources/quilt_entity_multipart_testmod.mixins.json
  library/entity/src/testmod/resources/quilt.mod.json
  settings.gradle
Labels: new-module, final-comment-period, library: entity, t: new api, s: tested

#155 Better ordering of resource reloaders
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/event/Event.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/package-info.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/phase/PhaseData.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/phase/PhaseSorting.java
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/impl/event/EventPhaseData.java
  library/core/qsl_base/src/testmod/java/org/quiltmc/qsl/base/test/event/EventTests.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/GroupResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/QuiltResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/package-info.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/IdentifiableResourceReloader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/reloader/ResourceReloaderKeys.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceReloaderPhaseData.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/KeyedResourceReloaderMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ResourcePackMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/FontManagerResourceReloadListenerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/KeyedClientResourceReloaderMixin.java
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/ResourceReloaderTestMod.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientDefaultTagManagerReloader.java
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientOnlyTagManagerReloader.java
Labels: enhancement, library: core, final-comment-period, library: data, t: new api, s: tested

#143 Block Content Registries & Unified Iterator for REA
  library/block/block_content_registry/build.gradle
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/BlockContentRegistries.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/FlammableBlockEntry.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/ReversibleBlockEntry.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/impl/BlockContentRegistriesClientInitializer.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/impl/BlockContentRegistriesInitializer.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/AxeItemMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/HoneycombItemMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/OxidizableMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/SculkSensorBlockMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/ShovelItemMixin.java
  library/block/block_content_registry/src/main/resources/assets/quilt_block_content_registry/icon.png
  library/block/block_content_registry/src/main/resources/quilt_block_content_registry.accesswidener
  library/block/block_content_registry/src/main/resources/quilt_block_content_registry.mixins.json
  library/block/block_content_registry/src/testmod/java/org/quiltmc/qsl/block/test/BlockContentRegistryTest.java
  library/block/block_content_registry/src/testmod/resources/data/quilt_block_content_registry/attachments/minecraft/block/flammable_block.json
  library/block/block_content_registry/src/testmod/resources/data/quilt_block_content_registry/attachments/minecraft/block/flattenable_block.json
  library/block/block_content_registry/src/testmod/resources/data/quilt_block_content_registry/attachments/minecraft/block/strippable_block.json
  library/block/block_content_registry/src/testmod/resources/data/quilt_block_content_registry/attachments/minecraft/block/waxable_block.json
  library/block/block_content_registry/src/testmod/resources/quilt.mod.json
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/RegistryEntryAttachmentImpl.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/impl/ItemContentRegistriesInitializer.java
Labels: new-module, library: block, final-comment-period, t: new api, s: tested

#95 Initial registry sync implementation
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/impl/client/ClientNetworkingImpl.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/mixin/ClientConnectionMixin.java
  library/core/registry/build.gradle
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/sync/RegistrySynchronization.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/RegistryConfig.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ClientPackets.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/DelayedPacketsHolder.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/RegistryFlag.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/RegistrySyncInitializer.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerFabricRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerPackets.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerRegistrySyncNetworkHandler.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/SynchronizedIdList.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/SynchronizedRegistry.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/ClientFabricRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/ClientRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/RebuildableIdModelHolder.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/RegistrySyncClientInitializer.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/BlocksMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/FluidsMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/IdListMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/PlayerManagerMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/RegistryMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/ServerLoginNetworkHandlerMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/ServerPlayerEntityMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/SimpleRegistryMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/BlockColorMapMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/ConnectScreenMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/ItemColorsMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/ItemModelsMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/MinecraftClientMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/ParticleManagerMixin.java
  library/core/registry/src/main/resources/assets/quilt_registry/lang/en_us.json
  library/core/registry/src/main/resources/quilt_registry.mixins.json
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/RegistryLibSyncTest.java
  library/core/registry/src/testmod/resources/quilt.mod.json
  library/data/tags/src/main/java/org/quiltmc/qsl/tag/impl/client/ClientTagRegistryManager.java
Labels: enhancement, test, library: core, final-comment-period, t: new api, s: tested

#105 Modify storing of status effect to make it more mod friendly
  library/core/qsl_base/src/main/java/org/quiltmc/qsl/base/api/util/QuiltAssertions.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/StatusEffectsSerializationConstants.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/patch/BeaconBlockEntityMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/patch/MooshroomEntityMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/patch/StatusEffectInstanceMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/patch/SuspiciousStewItemMixin.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
Labels: library: core, t: urgent, s: tested

#163 Properly support fuel times greater than 32,767
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/api/ItemContentRegistries.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/mixin/AbstractFurnaceBlockEntityMixin.java
  library/item/item_content_registry/src/testmod/resources/data/quilt_item_content_registry/attachments/minecraft/item/fuel_time.json
Labels: bug, enhancement, library: item, final-comment-period, t: refactor, s: tested

#168 Fix brigadier argument types being detected as modded
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/SimpleRegistryMixin.java
Labels: bug, library: core, t: urgent, s: tested

#167 Fix DataBreaker compatibility
  library/misc/datafixerupper/build.gradle
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/api/QuiltDataFixes.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/NopQuiltDataFixesInternals.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/QuiltDataFixesInternals.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/QuiltDataFixesInternalsImpl.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/ServerFreezer.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/client/ClientFreezer.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/mixin/ChunkSerializerMixin.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/mixin/NbtHelperMixin.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/mixin/PlayerEntityMixin.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/mixin/StructureMixin.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/mixin/client/HotbarStorageMixin.java
Labels: bug, t: urgent, s: tested

#174 Update Armor Rendering to Work in Progress
  README.md
Labels: documentation

#165 [REA] Add optional entries to simple format
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/AttachmentDictionary.java
  library/data/registry_entry_attachments/src/main/java/org/quiltmc/qsl/registry/attachment/impl/reloader/RegistryEntryAttachmentReloader.java
  library/data/registry_entry_attachments/src/testmod/java/org/quiltmc/qsl/registry/attachment/test/SimpleAttachmentTest.java
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/attachments/minecraft/item/test_attachment.json
  library/data/registry_entry_attachments/src/testmod/resources/data/quilt/attachments/minecraft/item/test_attachment_2.json
Labels: test, final-comment-period, library: data, t: new api, s: tested

#171 DataBreaker compatibility 2: NPE boogaloo
  build-logic/build.gradle
  build-logic/src/main/java/qsl/internal/Versions.java
  library/misc/datafixerupper/build.gradle
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/api/EmptySchema.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/api/FirstSchema.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/NoOpQuiltDataFixesInternals.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/QuiltDataFixesInternals.java
  library/misc/datafixerupper/src/main/java/org/quiltmc/qsl/datafixerupper/impl/QuiltDataFixesInternalsImpl.java
  library/misc/datafixerupper/src/testmodNoop/resources/quilt.mod.json
Labels: bug, t: urgent, s: tested, library: misc

#176 Add the ability to set boolean block settings values directly
  library/block/block_extensions/src/main/java/org/quiltmc/qsl/block/extensions/api/QuiltBlockSettings.java
  library/block/block_extensions/src/testmod/java/org/quiltmc/qsl/block/extensions/test/ClientInitializer.java
  library/block/block_extensions/src/testmod/java/org/quiltmc/qsl/block/extensions/test/Initializer.java
  library/block/block_extensions/src/testmod/resources/assets/quilt_block_extensions_testmod/blockstates/test_block2.json
Labels: enhancement, test, library: block, final-comment-period, t: new api, s: tested

#73 Create a Bow and Crossbow API in Item Extensions module
  library/item/item_extension/build.gradle
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/bow/BowExtensions.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/bow/BowShotProjectileEvents.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/bow/ProjectileModifyingBowItem.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/crossbow/CrossbowExtensions.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/crossbow/CrossbowShotProjectileEvents.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/api/crossbow/ProjectileModifyingCrossbowItem.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/ProjectileUtilMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/AbstractSkeletonEntityMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/BowAttackGoalMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/BowAttackMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/BowItemMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/EntityUseBowMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/bow/client/SkeletonEntityModelMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/client/HeldItemRendererMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/crossbow/CrossbowItemAccessor.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/crossbow/CrossbowItemMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/crossbow/EntityUseCrossbowMixin.java
  library/item/item_extension/src/main/java/org/quiltmc/qsl/item/extension/mixin/crossbow/client/PlayerEntityRendererMixin.java
  library/item/item_extension/src/main/resources/assets/quilt_item_extension/icon.png
  library/item/item_extension/src/main/resources/quilt_item_extension.mixins.json
  library/item/item_extension/src/testmod/java/org/quiltmc/qsl/item/extension/test/BowsTest.java
  library/item/item_extension/src/testmod/resources/quilt.mod.json
Labels: new: module, library: item, final-comment-period, t: new api, s: tested
