Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2023-04, with the labels that each got.

#247 Apply knockback resistance from custom armor materials
  library/item/item_extensions/src/main/java/org/quiltmc/qsl/item/extensions/mixin/ArmorItemMixin.java
  library/item/item_extensions/src/main/resources/quilt_item_extensions.mixins.json
  library/item/item_extensions/src/testmod/java/org/quiltmc/qsl/item/extensions/test/ArmorKnockbackTest.java
  library/item/item_extensions/src/testmod/java/org/quiltmc/qsl/item/extensions/test/BowsTest.java
  library/item/item_extensions/src/testmod/resources/assets/quilt_item_extensions_testmod/lang/en_us.json
  library/item/item_extensions/src/testmod/resources/quilt.mod.json
Labels: library: item, final-comment-period, t: refactor, s: tested

#258 Armor Rendering Registry: Render Layers
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/api/client/ArmorRenderingRegistry.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/ArmorRenderingRegistryImpl.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/ItemArmorRenderingExtensions.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/mixin/client/ArmorFeatureRendererMixin.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/mixin/client/ItemMixin.java
Labels: final-comment-period, t: new api, s: tested, library: rendering

#271 Add a dynamic registry registration API
  library/core/registry/build.gradle
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/api/dynamic/DynamicMetaRegistry.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/dynamic/DynamicMetaRegistryImpl.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/DynamicRegistrySyncAccessor.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/DynamicRegistrySyncMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/RegistriesMixin.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/RegistryLoaderMixin.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/dynamic/Greetings.java
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/dynamic/RegistryLibDynamicRegistryTest.java
  library/core/registry/src/testmod/resources/data/quilt_registry_testmod/quilt_registry_testmod/greetings/greeting_a.json
  library/core/registry/src/testmod/resources/quilt.mod.json
Labels: library: core, final-comment-period, t: new api, s: tested
