Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2023-05, with the labels that each got.

#264 API for datapackable event callbacks (and datapackable surface rule modifications as an example usage)
  library/core/data_callback/build.gradle
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/CodecAware.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/CodecHelpers.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/CodecMap.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/DynamicEventCallbackSource.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/AlwaysPredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/AndPredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/CodecAwarePredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/NeverPredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/NotPredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/OrPredicate.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/PredicateCodecMap.java
  library/core/data_callback/src/main/java/org/quiltmc/qsl/data/callback/api/predicate/PredicateCodecProvider.java
  library/core/data_callback/src/testmod/java/org/quiltmc/qsl/data/callback/test/DataCallbackTests.java
  library/core/data_callback/src/testmod/resources/data/quilt_data_callback_testmod/quilt_data_callback_testmod/server_join/before.json
  library/core/data_callback/src/testmod/resources/data/quilt_data_callback_testmod/quilt_data_callback_testmod/server_join/overridden.json
  library/core/data_callback/src/testmod/resources/quilt.mod.json
  library/worldgen/biome/build.gradle
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModification.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/BiomeModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/ModificationPhase.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/AddCarversModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/AddFeaturesModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/AddSpawnersModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/ModifyEffectsModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/ModifyWeatherModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/NothingModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/RemoveCarversModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/RemoveFeaturesModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/RemoveSpawnersModifier.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/api/codec/selector/ValueBiomeSelector.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationContextImpl.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationImpl.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModificationReloader.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/impl/modification/BiomeModifierCodecs.java
  library/worldgen/biome/src/main/java/org/quiltmc/qsl/worldgen/biome/mixin/modification/MinecraftServerMixin.java
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/add_carvers.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/add_feature.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/add_spawners.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/modify_effects.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/modify_weather.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/remove_carvers.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/quilt/biome_modifiers/remove_spawners.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/worldgen/configured_carver/nether_canyon.json
  library/worldgen/biome/src/testmod/resources/data/quilt_biome_testmod/worldgen/placed_feature/iron_pile.json
  library/worldgen/surface_rule/build.gradle
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/SurfaceRuleEvents.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/api/codec/AddMaterialRuleCallback.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/QuiltSurfaceRuleInitializer.java
  library/worldgen/surface_rule/src/main/java/org/quiltmc/qsl/worldgen/surface_rule/impl/SurfaceRuleDataInitializer.java
  library/worldgen/surface_rule/src/testmod/resources/data/quilt_surface_rule_testmod/quilt/surface_rules/overworld/test_data_based_rule.json
Labels: library: core, final-comment-period, t: refactor, t: new api, library: worldgen, s: tested

#293 Extended Entity Spawn Data API: Take 2
  library/entity/entity_networking/build.gradle
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/api/extended_spawn_data/QuiltExtendedSpawnDataEntity.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/impl/QuiltEntityNetworkingClientInitializer.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/impl/QuiltEntityNetworkingInitializer.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/mixin/EntityMixin.java
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/mixin/TrackedDataHandlerRegistryMixin.java
  library/entity/entity_networking/src/main/resources/quilt_entity_networking.mixins.json
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/CreeperWithItem.java
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/mixin/CreeperEntityMixin.java
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/mixin/CreeperEntityRendererMixin.java
  library/entity/entity_networking/src/testmod/resources/quilt.mod.json
  library/entity/entity_networking/src/testmod/resources/quilt_entity_networking_testmod.mixins.json
Labels: final-comment-period, library: entity, t: new api, s: tested

#307 Add TAWs for non-public vanilla item constructors (v2)
  library/item/item_extensions/build.gradle
  library/item/item_extensions/src/main/resources/quilt_item_extensions.accesswidener
  library/item/item_extensions/src/testmod/java/org/quiltmc/qsl/item/extensions/test/TransitiveAccessWidenerTest.java
  library/item/item_extensions/src/testmod/resources/assets/quilt_item_extensions_testmod/lang/en_us.json
  library/item/item_extensions/src/testmod/resources/assets/quilt_item_extensions_testmod/models/item/modded_music_disc.json
  library/item/item_extensions/src/testmod/resources/assets/quilt_item_extensions_testmod/textures/item/modded_music_disc.png
  library/item/item_extensions/src/testmod/resources/data/minecraft/tags/items/music_discs.json
  library/item/item_extensions/src/testmod/resources/quilt.mod.json
  library/item/item_extensions/template.accesswidener
Labels: library: item, final-comment-period, t: new api, s: tested
