Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2023-03, with the labels that each got.

#278 Add dynamic registry manager references to Recipe API.
  library/data/recipe/build.gradle
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/BaseRecipeHandler.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/RecipeLoadingEvents.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/BasicRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/ModifyRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RecipeManagerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RegisterRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/RemoveRecipeHandlerImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/TrimSmithingRecipeSerializerMixin.java
  library/data/recipe/src/testmod/java/org/quiltmc/qsl/recipe/test/RecipeTestMod.java
Labels: enhancement, library: data, t: refactor, s: tested

#272 Add icon to chat api and fix some bugs
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/ChatC2SMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/ServerPlayNetworkHandlerMixin.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/ServerPlayerEntityMixin.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/client/ClientPlayNetworkHandlerMixin.java
  library/management/chat/src/main/resources/assets/quilt_chat/icon.png
  library/management/chat/src/testmod/java/org/quiltmc/qsl/chat/test/ChatApiTest.java
Labels: final-comment-period, library: management, t: refactor, s: tested

#245 After entity start tracking event (1.19.3)
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/api/EntityTrackingEvents.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/mixin/EntityTrackerEntryMixin.java
  library/core/networking/src/testmod/java/org/quiltmc/qsl/networking/test/trackingevents/NetworkingEntityTrackingEventsTest.java
  library/core/networking/src/testmod/resources/quilt.mod.json
Labels: library: core, final-comment-period, t: new api, s: tested

#280 Rename and refactor Quilt POI to Point of Interest/POI API
  library/entity/point_of_interest/build.gradle
  library/entity/point_of_interest/src/main/java/org/quiltmc/qsl/poi/api/PointOfInterestHelper.java
  library/entity/point_of_interest/src/main/java/org/quiltmc/qsl/poi/impl/PointOfInterestTypeExtensions.java
  library/entity/point_of_interest/src/main/java/org/quiltmc/qsl/poi/mixin/PointOfInterestTypeMixin.java
  library/entity/point_of_interest/src/main/resources/assets/quilt_point_of_interest/icon.png
  library/entity/point_of_interest/src/main/resources/quilt_point_of_interest.accesswidener
  library/entity/point_of_interest/src/main/resources/quilt_point_of_interest.mixins.json
  library/entity/point_of_interest/src/testmod/java/org/quiltmc/qsl/poi/test/PoiTestMod.java
  library/entity/point_of_interest/src/testmod/resources/quilt.mod.json
Labels: library: entity, s: tested
