Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2023-01, with the labels that each got.

#236 Overhaul Enchanting Booster API
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/BlockContentRegistries.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/enchanting/ConstantBooster.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/enchanting/EnchantingBooster.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/enchanting/EnchantingBoosterType.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/api/enchanting/EnchantingBoosters.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/impl/BlockContentRegistriesClientInitializer.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/impl/BlockContentRegistriesInitializer.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/EnchantingTableBlockMixin.java
  library/block/block_content_registry/src/main/java/org/quiltmc/qsl/block/content/registry/mixin/EnchantmentScreenHandlerMixin.java
  library/block/block_content_registry/src/testmod/java/org/quiltmc/qsl/block/test/BlockContentRegistryTest.java
  library/block/block_content_registry/src/testmod/resources/data/quilt/attachments/minecraft/block/enchanting_boosters.json
Labels: enhancement, library: block, final-comment-period, t: refactor, t: new api, s: tested, t: documentation

#244 Resource Loader - Better Activation Type, NIO-resource pack creation methods, and fixes
  library/core/resource_loader/build.gradle
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/QuiltResourcePackProfile.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/ResourceLoader.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/DataPackLoadingContext.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/MinecraftServerMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/ResourcePackProfileMixin.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/mixin/client/GameOptionsMixin.java
  library/core/resource_loader/src/main/resources/quilt_resource_loader.mixins.json
  library/core/resource_loader/src/testmod/java/org/quiltmc/qsl/resource/loader/test/VirtualResourcePackTestMod.java
Labels: library: core, final-comment-period, t: new api, s: tested

#231 Switch to using loader.api.CachedFileSystem rather than loader internals.
  build-logic/src/main/java/qsl/internal/Versions.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
Labels: library: core, final-comment-period, t: refactor, s: tested

#241 Revise PR policy and conventions: Round 2
  CONTRIBUTING.md
Labels: final-comment-period

#248 Bump mappings to version 16
  build-logic/src/main/java/qsl/internal/Versions.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/api/PlayerLookup.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/mixin/ServerLoginNetworkHandlerMixin.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/mixin/accessor/EntityTrackerAccessor.java
  library/core/networking/src/main/java/org/quiltmc/qsl/networking/mixin/accessor/ThreadedChunkManagerAccessor.java
  library/core/networking/src/main/resources/quilt_networking.mixins.json
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/ServerRegistrySyncNetworkHandler.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/ShapedRecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/ShapelessRecipeBuilder.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/api/builder/VanillaRecipeBuilders.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/impl/VanillaRecipeBuildersImpl.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/CookingRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/ShapedRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/ShapelessRecipeSerializerMixin.java
  library/data/recipe/src/main/java/org/quiltmc/qsl/recipe/mixin/SpecialRecipeSerializerMixin.java
  library/entity/entity_networking/src/testmod/java/org/quiltmc/qsl/entity/networking/test/TrackedDataTestInitializer.java
  library/entity/multipart/src/main/java/org/quiltmc/qsl/entity/multipart/mixin/ThreadedChunkManagerMixin.java
  library/entity/multipart/src/main/resources/quilt_entity_multipart.mixins.json
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/impl/client/ClientCommandInternals.java
  library/management/client_command/src/main/java/org/quiltmc/qsl/command/mixin/client/ClientPlayNetworkHandlerMixin.java
Labels: enhancement, final-comment-period, s: tested

#253 Fix crash with a bunch of mods that add TrackedDataHandlers
  library/entity/entity_networking/src/main/java/org/quiltmc/qsl/entity/networking/mixin/TrackedDataHandlerRegistryMixin.java
Labels: bug, library: entity, t: urgent, s: tested

#250 Add a chat API
  library/management/chat/build.gradle
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/ChatEvent.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/QuiltChatEvents.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/QuiltMessageType.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/AbstractChatMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/ChatC2SMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/ChatS2CMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/ProfileIndependentS2CMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/RawChatC2SMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/api/types/SystemS2CMessage.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/impl/ChatEventBooleanImpl.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/impl/ChatEventImpl.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/impl/InternalChatEventCallbackConverters.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/impl/InternalMessageTypesFactory.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/ServerPlayNetworkHandlerMixin.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/ServerPlayerEntityMixin.java
  library/management/chat/src/main/java/org/quiltmc/qsl/chat/mixin/client/ClientPlayNetworkHandlerMixin.java
  library/management/chat/src/main/resources/quilt_chat.mixins.json
  library/management/chat/src/testmod/java/org/quiltmc/qsl/chat/test/ChatApiTest.java
  library/management/chat/src/testmod/resources/quilt.mod.json
Labels: new: module, final-comment-period, library: management, t: new api, s: tested

#166 Armor Rendering Registry
  library/rendering/build.gradle
  library/rendering/entity_rendering/build.gradle
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/api/client/ArmorRenderingRegistry.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/api/client/ArmorTextureUtils.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/api/client/QuiltArmorMaterialExtensions.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/ArmorRenderingRegistryImpl.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/FallbackArmorTextureProvider.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/ItemArmorRenderingExtensions.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/mixin/client/ArmorFeatureRendererMixin.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/mixin/client/ArmorMaterialsMixin.java
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/mixin/client/ItemMixin.java
  library/rendering/entity_rendering/src/main/resources/assets/quilt_entity_rendering/icon.png
  library/rendering/entity_rendering/src/main/resources/quilt_entity_rendering.mixins.json
  library/rendering/entity_rendering/src/testmod/java/org/quiltmc/qsl/rendering/entity/test/EntityRenderingTestmod.java
  library/rendering/entity_rendering/src/testmod/java/org/quiltmc/qsl/rendering/entity/test/QuiltArmorMaterial.java
  library/rendering/entity_rendering/src/testmod/java/org/quiltmc/qsl/rendering/entity/test/client/ClientEntityRenderingTestmod.java
  library/rendering/entity_rendering/src/testmod/java/org/quiltmc/qsl/rendering/entity/test/mixin/ArmorItemMixin.java
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/lang/en_us.json
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/models/item/quilt_boots.json
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/models/item/quilt_chestplate.json
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/models/item/quilt_helmet.json
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/models/item/quilt_leggings.json
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/item/quilt_boots.png
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/item/quilt_chestplate.png
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/item/quilt_helmet.png
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/item/quilt_leggings.png
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/models/armor/overpowered_pants_of_queerness.png
  library/rendering/entity_rendering/src/testmod/resources/assets/quilt_entity_rendering_testmod/textures/models/armor/quilt_layer_1.png
  library/rendering/entity_rendering/src/testmod/resources/quilt.mod.json
  library/rendering/entity_rendering/src/testmod/resources/quilt_entity_rendering_testmod.mixins.json
  library/rendering/src/testmod/resources/quilt.mod.json
  settings.gradle
Labels: new: module, new: library, final-comment-period, t: new api, s: tested

#257 FallbackArmorTextureProvider: fix path
  library/rendering/entity_rendering/src/main/java/org/quiltmc/qsl/rendering/entity/impl/client/FallbackArmorTextureProvider.java
  library/rendering/entity_rendering/src/testmod/java/org/quiltmc/qsl/rendering/entity/test/client/ClientEntityRenderingTestmod.java
Labels: t: refactor, t: urgent, s: tested, library: rendering
