Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2023-07, with the labels that each got.

#316 Make error logging better for bad pack.mcmeta files in mods.
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/api/InMemoryResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ModNioResourcePack.java
  library/core/resource_loader/src/main/java/org/quiltmc/qsl/resource/loader/impl/ResourceLoaderImpl.java
Labels: enhancement, library: core, final-comment-period, s: tested

#328 Fix the %s issues (#325)
  build-logic/src/main/java/qsl/internal/Versions.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/RegistryConfig.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/RegistrySyncText.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/ClientRegistrySync.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/LogBuilder.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/impl/sync/client/screen/SyncLogScreen.java
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/client/DisconnectedScreenMixin.java
Labels: bug, library: core, t: refactor, t: urgent, s: tested

#331 Add missing icon to data callback library
  library/core/data_callback/src/main/resources/assets/quilt_data_callback/icon.png
Labels: bug, library: core, s: tested, t: trivial

#329 Fix: Modify Tag path behavior in Dynamic Registries
  library/core/registry/build.gradle
  library/core/registry/src/main/java/org/quiltmc/qsl/registry/mixin/TagManagerLoaderMixin.java
  library/core/registry/src/main/resources/quilt_registry.mixins.json
  library/core/registry/src/testmod/java/org/quiltmc/qsl/registry/test/dynamic/RegistryLibDynamicRegistryTest.java
  library/core/registry/src/testmod/resources/data/quilt_registry_testmod/tags/quilt_registry_testmod/greetings/test_tag.json
Labels: bug, library: data, t: refactor, s: tested
