Repository QuiltMC/quilt-standard-libraries, pull requests merged in 2024-07, with the labels that each got.

#373 Backport fixed Recipe Remainder API to 1.20.1
  .github/workflows/publish.yml
  .github/workflows/publish_snapshot.yml
  .github/workflows/test.yml
  build-logic/gradle/libs.versions.toml
  build-logic/src/main/groovy/qsl.library.gradle
  build-logic/src/main/groovy/qsl.module.gradle
  build-logic/src/main/java/qsl/internal/Versions.java
  build-logic/src/main/java/qsl/internal/extension/QslExtension.java
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  library/block/block_extensions/build.gradle
  library/item/item_setting/build.gradle
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltCustomItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/QuiltItemSettings.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderLocation.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderLogicHandler.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/api/RecipeRemainderProvider.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/CustomItemSettingImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/impl/RecipeRemainderLogicHandlerImpl.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/AbstractFurnaceBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/BannerDuplicateRecipeMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/BookCloningRecipeMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/BrewingStandBlockEntityMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/ItemsMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/LoomOutputSlotMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/RecipeMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/SmithingScreenHandlerMixin.java
  library/item/item_setting/src/main/java/org/quiltmc/qsl/item/setting/mixin/recipe_remainder/StonecutterOutputSlotMixin.java
  library/item/item_setting/src/main/resources/quilt_item_setting.mixins.json
  library/item/item_setting/src/testmod/java/org/quiltmc/qsl/item/test/RecipeRemainderTests.java
  library/item/item_setting/src/testmod/resources/data/quilt/attachments/minecraft/item/fuel_times.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/smithing_base_test.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/smithing_ingredient_test.json
  library/item/item_setting/src/testmod/resources/data/quilt_item_setting_testmod/recipes/smithing_template_test.json
Labels: library: item, s: tested

#378 update discord link -- fixes #355
  README.md
Labels: t: documentation

#349 RegistryEntryAttachment: add (Number)RangeBuilder methods
  library/data/registry_entry_attachment/src/main/java/org/quiltmc/qsl/registry/attachment/api/RegistryEntryAttachment.java
  library/item/item_content_registry/src/main/java/org/quiltmc/qsl/item/content/registry/api/ItemContentRegistries.java
Labels: library: data, t: new api, s: waiting for test, t: documentation
